@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: whitesmoke;
  color: #2e2e2e;
}

:root {
  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --container-width-ssm: 91%;
}

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-top: 4rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #fff;
  background-color: blueviolet;
  border: 1px solid whitesmoke;
  padding: 1rem 2rem;
  cursor: pointer;
}

.resturant__name {
  font-size: 3.5rem;
  font-weight: 600;
  color: #000;
  margin: 0 1rem;
  text-align: left;
}
